<!-- # site header 
================================================== -->
<header class="s-header">

    <div class="row s-header__inner width-sixteen-col">

        <div class="s-header__block">
            <div class="s-header__logo">
                <a class="logo" href="index.html">
                    
                </a>
            </div>

            <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>
        </div> <!-- end s-header__block -->

        <nav class="s-header__nav">

            <ul class="s-header__menu-links">
                {% if about %}
                    <li class="current"><a href="https://markfgui675.github.io/SitePortif-lio/" target="_blank">About</a></li>
                    <li><a href="{% url "home-index" %}">Journal</a></li>
                {% endif %}
                {% if home %}
                    <li><a href="https://markfgui675.github.io/SitePortif-lio/" target="_blank">About</a></li>
                    <li class="current"><a href="{% url "home-index" %}">Journal</a></li>
                {% endif %}
                {% if not home and not about %}
                    <li><a href="https://markfgui675.github.io/SitePortif-lio/" target="_blank">About</a></li>
                    <li><a href="{% url "home-index" %}">Journal</a></li>
                {% endif %}
                {% if request.user.is_authenticated%}
                    {% if not home and not about %}
                        <li class="current"><a href="{% url "solicitacao" %}">Solicitar Nível de Acesso</a></li>
                        <li><a href="{% url "favoritos" %}">Favoritos</a></li>
                    {% else %}
                        <li><a href="{% url "solicitacao" %}">Solicitar Nível de Acesso</a></li>
                        <li><a href="{% url "favoritos" %}">Favoritos</a></li>
                    {% endif %}
                {% endif %}
            </ul> <!-- s-header__menu-links -->

            <div class="s-header__contact">
                <div class="box">
                    {% if request.user.is_authenticated %}
                        <a href="{% url "wagtailadmin_home" %}" target="_blank" class="btn btn--primary     s-header__contact-btn">Acessar Admin</a>

                        <form action="{% url "logout" %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="username" value="{{request.user.username}}">
                            <button type="submit">
                                Sair
                            </button>
                        </form>
                    {% else %}
                        <a href="{% url "login" %}" class="btn btn--primary     s-header__contact-btn">Entrar</a>
                    {% endif %}
                </div>
            </div> <!-- s-header__contact -->

        </nav> <!-- end s-header__nav -->

    </div> <!-- end s-header__inner -->

</header> <!-- end s-header -->