{% extends "global/base.html" %}
{% load wagtailcore_tags %}

{% block content %}
    
<section id="content" class="s-content">

            <section class="s-pageheader pageheader">
                <div class="row">
                    <div class="column xl-12">
                        <h1 class="page-title">
                            <span class="page-title__small-type text-pretitle">Blogs favoritos</span>
                        </h1>
                    </div>
                </div>
            </section>

            <section class="s-pagecontent pagecontent">

                <div class="row">

                    {% if messages %}
                        <div class="box-back message-favoritar">
                            {% for message in messages %}
                                <p>{{message}}</p>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="search-box">
                        <form action="{% url 'search-favoritos' %}">
                            <div class="search-container">
                                <input placeholder="Pesquisar" type="text" class="search-input" name="q" value="{{request.GET.q}}">
                                <button class="search-button">Pesquisar</button>
                            </div>
                        </form>
                    </div>

                    {% if search and resultado %}
                        <div class="resultados">
                            <h2>Resultados para <span class="q">"{{pesquisa}}"</span></h2>
                        </div>
                    {% endif %}

                    {% if resultado %}
                        <div class="column xl-12 grid-block">

                            <!-- <div class="grid-full">         -->
                            <div class="grid-full grid-list-items">

                                {% for p in children %}
                                    {% include "blog/partials/blog_card_favorito.html" %}
                                {% endfor %}

                            </div> <!-- grid-list-items -->
                            <!-- </div>     -->

                        </div> <!-- end grid-block-->
                    {% else %}
                        {% if no_resultado_message %}
                            {{no_resultado_message}}
                        {% else %}
                            <h2>Nunhum resultado encontrado para a pesquisa</h2>
                        {% endif %}
                    {% endif %}
                </div> <!-- end row -->

                {% include "global/partials/pagination.html" %}

            </section>

        </section> <!-- s-content--> 

{% endblock content %}
