{% extends "global/base.html" %}
{% load wagtailcore_tags %}

{% block content %}
    
<section id="content" class="s-content">

            <section class="s-pageheader pageheader">
                <div class="row">
                    <div class="column xl-12">
                        <h1 class="page-title">
                            <span class="page-title__small-type text-pretitle">Blog</span>
                            Blog Wagtail
                        </h1>
                    </div>
                </div>
            </section>

            <section class="s-pagecontent pagecontent">

                <div class="row">
                    <div class="column xl-12 grid-block">

                        <!-- <div class="grid-full">         -->
                        <div class="grid-full grid-list-items">

                            {% for p in children %}
                                {% include "blog/partials/blog_card.html" %}
                            {% endfor %}

                        </div> <!-- grid-list-items -->
                        <!-- </div>     -->

                    </div> <!-- end grid-block-->
                </div> <!-- end row -->

                {% include "global/partials/pagination.html" %}

            </section>

        </section> <!-- s-content--> 

{% endblock content %}
