{% extends "global/base.html" %}
{% load wagtailcore_tags %}

{% block content %}
    
<section id="content" class="s-content">

    <section class="s-pageheader pageheader">
        <div class="row">
            <div class="column xl-12">
                <h1 class="page-title">
                    <span class="page-title__small-type text-pretitle">Feedback da página {{page.title}}</span>
                </h1>
                
            </div>
        </div>
    </section> <!-- end pageheader --> 

    <section class="s-pagecontent pagecontent pagecontent-login">

        <div class="subscribe-form login-form">

            {% if messages %}
                {% for message in messages %}
                    <div style="font-weight: bold;">
                        {{message}}
                    </div>
                    <br>
                {% endfor %}
            {% endif %}

            <form action="{{ form_action }}" class="mc-form" method="POST", enctype="multipart/form-data">

                {% if form.errors %}
                    <div class="form-group">
                        <div class="message message-error">
                            O formulário apresenta erros, o conserte antes de enviá-lo.
                        </div>
                    </div>
                    <br>
                {% endif %}
            
                {% csrf_token %}
                {% for field in form %}
                    {% if field.label == 'Título' or field.label == 'Descrição' %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% endif %}
                    {{field}}
                    {{field.errors}}
                {% endfor %}
                <button type="submit" class="btn btn--primary btn--small u-fullwidth">
                    {{text_button}}
                </button>
                <!-- <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cdb7b577e41181934ed6a6a44_9a91cfe7b3" tabindex="-1" value=""></div> -->
                <div class="mc-status">
            
                    {% if user.is_authenticated %}
            
                    {% endif %}
            
                </div>
            </form>

            <p>Não tem conta? <a href="{% url "register" %}">Crie uma</a></p>
        </div>

    </section> <!-- end s-testimonials -->

</section> <!-- s-content-->

{% endblock content %}
