{% extends "wagtailadmin/base.html" %}
{% load static %}
{% block titletag %}Feedback | {{f.slug}}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "global/css/feedback/feedback_slug.css" %}">
{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="Feedbacks" icon="comment" %}

    <div class="nice-padding">
        
        {% if no_page %}
            <h2 class="h1-not-page">A página não existe mais</h2>
        {% endif %}

        <div class="box">
            <h1>{{f.titulo}}</h1>
            <h2>{{f.data}}</h2>
        </div>

        <h2>Info</h2>
        <div class="info">
            <h3><span>Título:</span> {{p.title}}</h3>
            <h3><span>Proprietário:</span> {{p.owner}}</h3>
        </div>

        <br>
        <br>

        <h2>Descrição</h2>
        <p>{{f.descricao}}</p>

        <br>
        <br>

        {% if not no_page and owner%}
            <div class="box">

                <a href="http://localhost:8000/admin/pages/{{id}}/edit/" target="_blank">Editar Página</a>

                <form action="{{form_action}}" method="POST", enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.label == 'Status' %}
                            {{field}}
                        {% endif %}
                    {% endfor %}

                    <button id="button" type="submit">
                        Send
                    </button>
                </form>

            </div>
        {% endif %}

        {% if not owner %}
            <div class="box">

                Você não tem autorização para editar a página

            </div>
        {% endif %}

    </div>
{% endblock %}