{% extends "wagtailadmin/base.html" %}
{% load static %}
{% block titletag %}Solicitações{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "global/css/solicitacao/index.css" %}">
{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="Solicitações" icon="form" %}

    <div class="nice-padding">

        {% if request.user.is_staff %}

            <div class="filtro">
                <form method='GET'>
                    {{form}}
                    <input class="button_filter" type="submit" value="Pesquisar"/>
                </form>
            </div>

            {% for solicitacao in s %}

                <div class="box">
                    <a href="{% url "solicitacao_page" solicitacao.id%}">
                        <h2>
                            {{solicitacao.user}} - 
                            <span class="group">{{solicitacao.group}}</span> - 
                            <span class="group">{{solicitacao.status}}</span>
                        </h2>
                    </a>

                    <a href="#"><h2>{{solicitacao.data}}</h2></a>
                </div>

            {% endfor %}

            {% include "global/partials/pagination.html" %}
        {% else %}
                <h1>É necessário ser administrador para acessar este painel.</h1>
        {% endif %}

    </div>
{% endblock %}